a, a:visited, h3.article-title a:hover, .navbar-default .navbar-nav li a:hover, .btn-primary, .btn-primary.btn-outline, .article-metadata a {
    color: #F2385A;
}

.article-metadata a:hover, a:hover {
    color: #3B7355;
    text-decoration: none;
}

a:hover, .btn-primary.btn-outline:hover {
    border-color: #005181;
    text-decoration: none;
}

.btn-primary, .btn-primary.btn-outline {
    border-color: #F2385A;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:visited, .btn-primary.btn-outline:active {
    background-color: #F2385A;
}
